<section class="flex lg:justify-center lg:h-full flex-col lg:p-4 gap-4 lg:gap-8">
  <div>
    <h1 class="text-4xl lg:text-5xl font-bold text-gray-800">Stay updated!</h1>
  </div>
  <div>
    <p class="text-gray-600 font-normal lg:text-base">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
  </div>
  <div>
    <ul>
      <li class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-base">
          Product discovery and building what matters
        </p>
      </li>
      <li class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-base">
          Measuring to ensure updates are a success
        </p>
      </li>
      <li class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-base">
          And much more!
        </p>
      </li>
    </ul>
  </div>
  <div>
    <form
      (submit)="onSubmit()"
      [formGroup]="newsForm"
      action=""
      class="flex flex-col gap-4"
    >
      <div class="flex justify-between">
        <label class="font-bold text-xs text-gray-600 lg:text-lg" for="email"
          >Email address</label
        >
        <p
          id="email-error"
          [ngClass]="{ 'text-red-400': errorForm, hidden: !errorForm }"
          class="font-bold text-xs text-gray-600 lg:text-lg"
        >
          Valid email required
        </p>
      </div>
      <div>
        <input
          id="email"
          class="border-solid p-4 border-gray-300 border-2 rounded-lg w-full placeholder:p-2 hover:border-black"
          type="text"
          placeholder="email@company.com"
          formControlName="email"
          [attr.aria-invalid]="errorForm"
          [attr.aria-describedby]="errorForm ? 'email-error' : null"
          [ngClass]="{
            'border-red-500 text-red-400 placeholder:text-red-400': errorForm,
          }"
        />
      </div>
      <button
        type="submit"
        class="btn-primary p-4 w-full"
        [disabled]="!newsForm.valid"
      >
        Subscribe to monthly newsletter
      </button>
    </form>
  </div>
</section>
