<section class="px-8 flex flex-col gap-4">
  <div>
    <h1 class="text-4xl font-bold text-gray-800">Stay updated!</h1>
  </div>
  <div>
    <p class="text-gray-600">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
  </div>
  <div>
    <ol>
      <ul class="flex">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600">
          Product discovery and building what matters
        </p>
      </ul>
      <ul class="flex">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600">
          Measuring to ensure updates are a success
        </p>
      </ul>
      <ul class="flex">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600">And much more!</p>
      </ul>
    </ol>
  </div>
  <div>
    <form action="" class="flex flex-col gap-4">
      <div>
        <label class="font-bold text-xs" for="">Email address</label>
      </div>
      <div>
        <input
          class="border-solid p-4 border-gray-300 border-2 rounded-lg w-full placeholder:p-2"
          type="text"
          placeholder="email@company.com"
        />
      </div>
      <button class="bg-gray-800 text-white p-4 rounded-lg w-full font-bold">
        Subscribe to monthly newsletter
      </button>
    </form>
  </div>
</section>
