<section class="px-8 flex lg:justify-center flex-col gap-4 lg:h-full">
  <div>
    <h1 class="text-4xl lg:text-6xl font-bold text-gray-800">Stay updated!</h1>
  </div>
  <div>
    <p class="text-gray-600 font-normal lg:text-lg">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
  </div>
  <div>
    <ol>
      <ul class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-lg">
          Product discovery and building what matters
        </p>
      </ul>
      <ul class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-lg">
          Measuring to ensure updates are a success
        </p>
      </ul>
      <ul class="flex py-1">
        <picture class="w-auto">
          <img class="mr-4" src="assets/images/icon-list.svg" alt="" />
        </picture>
        <p class="w-full text-gray-600 font-normal lg:text-lg">
          And much more!
        </p>
      </ul>
    </ol>
  </div>
  <div>
    <form action="" class="flex flex-col gap-4">
      <div>
        <label class="font-bold text-xs text-gray-600 lg:text-lg" for=""
          >Email address</label
        >
      </div>
      <div>
        <input
          class="border-solid p-4 border-gray-300 border-2 rounded-lg w-full placeholder:p-2 hover:border-black"
          type="text"
          placeholder="email@company.com"
        />
      </div>
      <button class="bg-gray-800 text-white p-4 rounded-lg w-full font-bold hover:bg-red-400">
        Subscribe to monthly newsletter
      </button>
    </form>
  </div>
</section>
