<div
  class="screen-center"
>
  <div
    class="bg-white p-5 w-full h-screen grid grid-cols-1 grid-rows-4 lg:w-1/2 lg:h-2/3 lg:p-20 gap-20 rounded-[50px]"
  >
    <div class="flex items-end">
      <picture
        ><img class="w-20" src="assets/images/icon-success.svg" alt=""
      /></picture>
    </div>
    <div class="flex items-center">
      <h1 class="text-5xl font-bold lg:text-7xl">Thanks for subscribing!</h1>
    </div>
    <div class="flex items-start h-full">
      <p class="text-base lg:text-2xl w-full">
        A confirmation email has been sent to
        <strong>{{ email }}</strong> Please open it and click the
        button inside to confirm your subscription.
      </p>
    </div>
    <div>
      <button (click)="dismiss()" type="button" class="bg-gray-800 text-lg rounded-lg text-white w-full text-center py-5 lg:hover:bg-red-400 lg:cursor-pointer">
        Dismiss message
      </button>
    </div>
  </div>
</div>
