<div
  class="lg:bg-gray-800 lg:w-full lg:h-screen flex items-center justify-center"
>
  <div class="bg-white">
    <div>
      <picture><img src="" alt="check" /></picture>
    </div>
    <div>
      <h1>Thanks for subscribing!</h1>
    </div>
    <div>
      <p>
        A confirmation email has been sent to ash&#64;loremcompany.com. Please open
        it and click the button inside to confirm your subscription.
      </p>
    </div>
    <div>
      <input type="text" value="Dismiss message" />
    </div>
  </div>
</div>
